@charset "utf-8";
body { font-size: 14px; color: #515151; margin:0 ; text-align:center;  line-height: 20px; }
.logobg { background: url(../images/login/logo_back.png) no-repeat; }    /*  logo背景图*/








